@import '../colors/colors.scss';

.image {
    cursor: pointer;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
    .input {
        width: 350px;
    }
}

@media screen and (min-width: 300px) and (max-width: 767px) {
    .input {
        width: 260px;

    margin-bottom: 40px;
    flex-wrap: wrap;
}
}

@media screen and (min-width: 300px) and (max-width: 1023px) {
    .container {
        justify-content: space-around;
        margin-left: 23px;
        gap: 20px;
    }
}

@media screen and (min-width: 300px) and (max-width: 800px) {
    .container {
        flex-wrap: wrap;
    }

    .input {
        width: 348px;
    }
}