@import '../colors/colors.scss';


.image {
    border-radius: 50%;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}