@import '../colors/colors.scss';

.image {
    cursor: pointer;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

@media screen and (min-width: 300px) and (max-width: 1023px) {
    .container {
        gap: 20px;
        justify-content: center;
    }
}