@import '../colors/colors.scss';

.image {
    cursor: pointer;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    // margin-bottom: 32px;
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
    .input {
        width: 350px;
    }
    .container {
        padding-left: 72px;
    }
}



@media screen and (min-width: 300px) and (max-width: 767px) {
    .input {
        flex-wrap: wrap;
        max-width: 350px;
        width: 100%;
    }

    .wrapper {
        align-items: center;
        gap: 30px;
    }
}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .wrapper {
        justify-content: space-between;
        margin-left: 70px;
    }

    .input {
        max-width: 380px;
        width: 100%;
    }
    

}

@media screen and (min-width: 300px) and (max-width: 800px) {
    .container {
        flex-wrap: wrap;
    }

    .input {
        width: 348px;
    }
}