// .container {
//     background:
//         url('/icon/signin-img.svg') no-repeat right bottom / contain,
//         url('/image/backgroundImage-auth.png') no-repeat center / cover;
//     height: 100vh;
// }

// .container {
//     background-image: url('/image/sokrate4.svg'), url('/image/backgroundImage-auth.png');
//     background-repeat: no-repeat, no-repeat;
//     background-position: right bottom, center;
//     background-size: auto, 100% 100%;
//     height: 100vh;
//     padding-top: 60px;
//     padding-left: 80px;
// }
.container {
    background-image: url('/image/backgroundImage-auth.png');
    background-repeat: no-repeat;
    // background-position: center;
    background-size: 100%;
    width: 100%;
    min-height: 100vh;
    padding-top: 48px;
    padding-left: 80px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;


}

.sokrate {
    display: flex;
    align-self: flex-end;
    margin-bottom: -44px;
}


.subtitle {
    margin-top: 73px;
    display: flex;
    flex-direction: column;
    line-height: 65px;
}

.cellStructure {
    display: flex;
    flex-direction: column;
    // margin-left: 80px;
    // margin-top: 60px;
}

.secondFont {
    background: linear-gradient(90deg, #F903D0 0%, #9A16F2 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 62px;
    font-weight: 600;
    text-transform: uppercase;

}

.secondFont span {
    font-size: 72px;
    font-weight: 400;
    text-transform: uppercase;
    margin-right: 7.5px;
}

.firstFont {
    font-size: 62px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
}

.firstFont span {
    color: #FFF;
    font-size: 72px;
    font-weight: 300;
    text-transform: uppercase;
    margin-left: 15px;
}

.thirdFont {
    color: #C5B0C9;
    font-size: 24px;
    font-weight: 400;
}

.input {
    border: none;
    width: 350px;
    height: 48px;
    border-radius: 8px;
    padding: 16px;
    color: #C5B0C9
}

.input::placeholder {
    color: #C5B0C9
}

.registracion {
    display: flex;
    flex-direction: column;
    width: 348px;
}

.registracion {
    gap: 16px;
}

.registrationErors {
    color: #B1B1B1;
    font-size: 12px;
    font-weight: 500;
    margin-top: -12px;
}
.button {
    margin-top: 24px;
}