.container {
    max-width: 100%;
    width: 100%;
    height: 100vh;
    padding: 16px;
    padding-top: 24px;

}

.insideContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.itemContainer {
    width: 500px;
    height: 100px;
    background: #151519;
    color: white;
}