.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

@media screen and (min-width: 300px) and (max-width: 1323px) {
    .container {
        justify-content: center;
    }
}