.container {
    width: 300px;
    height: 220px;
    background-color: #29292E;
    position: absolute;
    z-index: 100;
    border-radius: 8px;
    bottom: 50px;
    right: -150px;
}

.input {
    width: 230px;
    height: 40px;
    border: 2px solid #fff;
    outline: none;
    background-color: #29292e54;
    color: #fff;
    padding-left: 10px;
    border-radius: 8px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 30px;
}

.submit {
    width: 70px;
    height: 30px;
    border-radius: 8px;
    outline: none;
    background-color: #F903D0;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}