.container {
    max-width: 1350px;
    width: 100%;
    margin: 30px;
}

.header {
    color: #fff;
    font-weight: 600;
    font-family: "Plus Jakarta Sans";
    font-size: 20px;
}

.dataWrapper {
  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5px;
    align-items: center;
    
    
}

