.container {
    display: flex;
    justify-content: flex-start;
    gap: 25px;
    max-width: 276px;
    padding: 24px;
    // position: relative;
    // left: 75px;
}

.title {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 45px;
    width: 228px;
    cursor: pointer;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: 300px;
    overflow: scroll;
    gap: 13px;
    height: 100%;
}

.button {
    border: none;
    max-width: 100%;
    width: 200px;
    color: white;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    align-self: stretch;
    border-radius: 8px;
    background: var(--Gradient-apolo, linear-gradient(90deg, #F903D0 0%, #9A16F2 100%));
}