.container {
    display: flex;
    justify-content: flex-start;
    gap: 25px;
    max-width: 276px;
    padding: 24px;
    // position: relative;
    // left: 75px;
}

.title {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 45px;
    width: 228px;
    cursor: pointer;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 13px;
    height: 100%;
}