.container {
    display: flex;
    width: 100%;
    margin-bottom: 133px;
}

.container2 {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.burgerMenu {
    display: none;
}

.ordynaryMenu {
    display: flex;
}

@media screen and (max-width: 375px) {
    .ordynaryMenu {
        display: none;
    }
}

@media screen and (min-width: 375px) and (max-width: 744px) {
    .burgerMenu {
        display: flex;
        position: absolute;
        left: 25px;
        top: 44px;
        z-index: 1;
    }

    .ordynaryMenu {
        display: none;
    }
}