@import '../colors/colors.scss';


//contaienr styles

.mainContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

@media screen and (min-width: 300px) and (max-width: 1323px) {
    .mainContainer {
        justify-content: center;
    }
}


.container {
    max-width: 548px;
    width: 100%;
    height: 104px;
    padding: 16px;
    border-radius: 8px;
    background: $darkVoid;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container_author {
    display: flex;
    align-items: center;
    gap: 8px;
}

.container_name {
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.container_detals {
    display: flex;
    align-items: center;
    gap: 56px;
}

.container_like_point {
    display: flex;
    align-items: center;
    gap: 8px;
}



//font styles
.music_name_font_style {
    font-size: 16px;
    font-weight: 600;
    font-size: 16px;
    color: white;
}

.music_author_font_style {
    color: $shadyLady;
    font-size: 14px;
    font-weight: 500;
}

.time_font_style {
    color: $shadyLady;
    font-size: 14px;
}


.playlist {
    position:relative;
    top: -100px;
    right: 100px;

}
.cursor {
    cursor: pointer;
}