.container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    position: relative;
    right: 15px;
}

.album {
    max-width: 1350px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}



@media screen and (max-width: 1555px) {
    .album {
        overflow-x: scroll;
        padding-bottom: 10px;
    }

    .album::-webkit-scrollbar {
        display: none;
    }
}