.container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.art {
    max-width: 1350px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}


@media screen and (max-width: 1555px) {
    .art {
        overflow-x: scroll;
        padding-bottom: 10px;
    }

    .art::-webkit-scrollbar {
        display: none;
    }
}