.container {
    position: relative;
}

.playlistHidden {
    display: none;
}

.playlistVisible {
    display: block;
    position: absolute;
    bottom: 40px;
    right: 0;
}

.wrapper {
    display: flex;
    align-items: center;
    gap: 7px;
}   