.container {
    padding: 16px;
    width: 266px;
    height: 309px;
    border-radius: 8px;
    background: #151519;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    cursor: pointer;
}

.font {
    color: #9E9A9F;
    font-size: 14px;
    font-weight: 600;
}

.buttons {
    display: flex;
    margin-bottom: 16px;
    gap: 8px;
}

.cellEdit {
    background-color: white;
    width: 32px;
    height: 32px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cellDelete {
    background-color: white;
    width: 32px;
    height: 32px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hoveredImage {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


.buttons {
    display: flex;
    margin-bottom: 16px;
    gap: 8px;
    display: none;
}



.container:hover .buttons {
    display: flex;
}