.container {
    padding: 16px;
    width: 266px;
    height: 309px;
    border-radius: 8px;
    background: #151519;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.font {
    color: #9E9A9F;
    font-size: 14px;
    font-weight: 600;
}

.test {
    width: 200px;
    height: 200px;
    background-color: black;
}