.container {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 32px;
    padding-left: 5px;
}

.container:active {
    background-color: #141414;
    width: 180px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    height: 32px;
    padding-left: 5px;
}

.title {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

