.container {
   width: 100%;
   margin-bottom: 25px;
   display: flex;
}

.hits {
    max-width: 1350px;
    width: 100%;
    display: flex;
    gap: 20px;
}

.box {
    display: flex;
}

@media screen and (min-width: 300px) and (max-width: 882px) {
    .hits {
        justify-content: center;
        gap: 10px;
        
    }
}

@media screen and (min-width: 1650px) {
    .hits {
        justify-content: center;
    }

    .container {
        justify-content: center;
    }
}
