.container {
   width: 100%;
   display: flex;
   justify-content: center;
   margin-bottom: 25px;
}

.hits {
    max-width: 1350px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.box {
    display: flex;
}


@media screen and (max-width: 1555px) {
    .hits {
        overflow-x: scroll;
        padding-bottom: 10px;
    }

    .hits::-webkit-scrollbar {
        display: none;
    }
}