@import '../colors/colors.scss';

.container {
    max-width: 1112px;
    height: 393px;
    padding: 32px 32px;
    display: flex;
    align-items: flex-end;
}

.container_news {
    max-width: 617px;
    min-height: 180px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.container_title {
    display: flex;
    flex-direction: column;
    gap: 16px;
}


//font styles

.font_style_news {
    color: $white;
    font-size: 64px;
    font-weight: 800;
}

.font_style_plays {
    color: $glacierGrey;
    font-size: 24px;
    font-weight: 400;
}
